body {
    background-image: url(../img/groovepaper/groovepaper.png);
    color: #333;
    text-align: center;
}

section {
    margin-bottom: 53px;
}

header {
    margin-top: 1em;
    margin-bottom: 53px;
}

.logo {
    margin-top: 16px;
    margin-bottom: 16px;
}

h1 {
    font-size: 60px;
}

h3 {
    color: #999;
    font-size: 30px;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 1em;
}

h4 {
    color: #616161;
    margin-top: 1em;
}

ul {
    list-style-type: square;
}

ul li {
    margin-bottom: 1em;
}

p, li {
    font-size: 18px;
}

.teammate img {
    margin-bottom: 12px;
}

.teammate .name {
    font-size: 24px;
    color: #555;
    margin-top: 4px;
    margin-bottom: 8px;
}

.teammate .bio {
    font-size: 18px;
}

.teammate .social {
    margin-top: 8px;
    font-size: 32px;
}
.teammate .social a {
    color: #444;
}
.teammate .social a:hover {
    color: #666;
}

.how-we-work ul {
    text-align: left;
}

a.circle {
    display: inline-block;
    width: 69px;
    height: 69px;
    padding: 0;
    border-radius: 50%;
    color: white;
    background-color: #444;
    font-size: 48px;
    margin: 0 8px;
}
a.circle:hover {
    color: white;
    background-color: #666;
}

footer {
    color: #AAA;
    margin-top: 5em;
    margin-bottom: 1em;
}
